# MongoDB connection strings
# 源数据库
PROD_DB_CONNECTION="mongodb://prod_user:prod_pass@prod-host:27017/prod_db?authSource=admin"
# 目标数据库，测试
TEST_DB_CONNECTION="mongodb://test_user:test_pass@test-host:27017/test_db?authSource=admin"
# 目标数据库，开发
DEV_DB_CONNECTION="mongodb://dev_user:dev_pass@dev-host:27017/dev_db?authSource=admin"